/*
*	CSS Styles
*	By Rendani Shane Netshikweta
*	At Obscode Freelace
*	12/2019
*  
*	Logo Colours
*	Green 	#8ab242 #99cc66
*	Grey	#323941 #333333
*/


/*site wide css***********************************/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-size: 16px;*/
	line-height: 27px;
}
select{
	padding: 5px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
}
input{
	padding: 5px;
	border-radius: 5px;
	/*background-color: #99cc6633;*/
	border: 1px solid #ccc;
	color: #555;
	box-shadow: 1px 1px 2px #ccc;
	margin: 5px 0px 20px 0px;
	outline: none;
}
input:focus{
	box-shadow: 0px 0px 4px #e00;
	border: 1px solid #e00;
}
button{
	border: none;
}
.clr{
	clear: both;
	width: 100%;
}
.btn{
	background-color: #99cc66;
	text-align: center;
	color: #FFFFFF;
	display: inline-block;
	min-width: 100px;
	border-radius: 30px;
	padding: 10px;
	box-shadow: 1px 1px 2px #000;
}
.btn:hover{
	background-color: #AADD77;
}
.btn:active{
	box-shadow: 1px 1px 2px #FFF;	
}
.btn a{
	color: #FFFFFF !important;
	display: inline-block;
	text-decoration: none;
	/*background-color: orange;*/
	width: 100%;
	height: 100%;
	border-radius: 30px;
}
.section{
	width: 70%;
	margin-left: 15%;
	padding-top: 100px;
}
.bg-success{
	background-color: #99cc66;
}
.bg-error{
	background-color: #DD3333;
}
.message{
	padding: 10px;
	margin-top: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #000;
	font-variant-caps: small-caps;
	color: #FFFFFF;
}
.message ul{
	list-style: none;
}
.message span{
	display: inline-block;
	margin-right: 3px;
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.25em;
	background-color: yellow;
}
/*END site wide css

/*header css*************************************/
.login{
	margin-top: 28px;
	width: 20%;
}
.info-bar{
	background-color: black;
	width: 100%;
	height: 30px;
}
.header-container{
	display: grid;
	padding-top: 20px;
	grid-template-columns: 40% 60%;
	width: 70%;
	margin-left: 15%;
}
.header-container div{
	height: 120px;
}
.logo img{
	width: 100%;
}
.menu-container{
	padding-left: 100px;
}
.menu-container ul{
	margin-top: 38px;
	width: 80%;
	float: left;
}
.menu-container ul li{
	width: 20%;
	float: left;
	list-style: none;
}
.menu-container ul a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.menu-container ul a{
	text-decoration: none;
	color: #333;
}
.menu-container ul a:active{

}

.banner-line{
	background-color: #99cc66;
	height: 30px;
}
.banner-pic{
	position: relative;
	height: 500px;
	overflow: hidden;
}
.banner-pic img{
	width: 100%;
}
.filter{
	background-color: #ffffff99;
	position: absolute;
	width: 100%;
	height: 100%;
}
/*Home page*********************************************/
.home-section > h1{
	text-align: center;
	margin-bottom: 30px;
}
.home-section > h1 > span{
	font-weight: 200;
}
.home-section > .about{
	display: grid;
	grid-template-columns: auto auto auto;
}
.home-section .icon{
	width: 100%;
	height: 80px;
	text-align: center;
}
.home-section .about h2{
	text-align: center;
	margin: 20px 0px;
}
.home-section .about p{
	text-align: justify;
	padding: 20px;
	text-align-last: center;
}
/*register page*****************************************/
.register{
	display: grid;
	grid-template-columns: 50% 50%;
}
.register form{
	padding: 40px 200px 0px 0px;
}
.register .side-pic img{
	margin-top: 40px;
	text-align: center;
	width: 100%;
}
.register form label, .register form input{
	width: 100%;
}
.register form button{
	float: right;
}
/*Application from********************************************/
.application > h1 {
	text-align: center;
	margin-bottom: 60px;
}
.application div label, .application div input{
	width: 100%;
}
form.applicant-details{
	display: inline-block;
	padding: 25px;
	box-shadow: 3px 3px 9px #ccc;
}
.application .applicant-details>div{
	float: left;
	padding: 0px 6px;
}
form.applicant-details .title{
	width: 5%;
}
form.applicant-details .initials{
	width: 10%;
}
form.applicant-details .first-name{
	width: 42%;
}
form.applicant-details .mid-name{
	width: 43%;
}
form.applicant-details .surname{
	width: 50%;
}
form.applicant-details .id-passport{
	width: 50%;
}
form.applicant-details .tel-no{
	width: 33.333%;
}
form.applicant-details .cell-no{
	width: 33.333%;
}
form.applicant-details .email{
	width: 33.333%;	
}
.application button{
	float: right;
}
form.applicant-details .marital-status{
	/*width: 28%;*/
}
form.applicant-details .insolve1{
	/*width: 36%;*/
}
form.applicant-details .insolve2{
	/*width: 36%;*/
}
form.applicant-details .address{
 width: 100%;
}
form.applicant-details .address input{
 width: 33%;
}